

<section class="section summary-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    AWARDS/HONORS RECEIVED 
  </h2>

  
    <ul>
   <li>Icon Employee award at Samsung R&D Institute Bangladesh</li>
   <li>Advanced Software Certification from Samsung R&D Institute Bangladesh</li>
   <li>University Merit Scholarship for first 100 students in undergraduate admission test in BUET</li>
   <li>Board Scholarship for outstanding result in 10 grade.</li>
   </ul>  
 
   
