{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ projects.title }}
  </h2>

   <!-- project 0 -->
    <div class="item">
     <b>Samsung Health application & wearable devices </b>
     <p>
       Key resposibility: Design and implement key features - communication with ble devices, functional & user interface implementation for trackers.
      </p>  
    </div><!--//item-->

   <!-- project 1 -->
    <div class="item">
     <b> Camera Manager </b>
     <p>
       Key resposibility: Design and implement key features - Connection and protocol handling, UI implementation.
      </p>  
    </div><!--//item-->

     <!-- project 1 -->
    <div class="item">
     <b> Samsung Wearable Device Manager </b>
     <p>
       Key resposibility: Design and implement key features - Connection and protocol handling, UI implementation.
      </p>  
    </div><!--//item-->

</section><!--//section-->
{% endif %}
