{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ projects.title }}
  </h2>


    <!-- project 1 -->
    <div class="item">
     <b>An Overview: Neural Network in Image Classification </b>
     <p>
       Term paper (Data warehousing and Mining) <br>
       <a href="https://drive.google.com/file/d/1NmPFgfVuN_Pqefi2cuKY970aOZBT3f9g/view? usp=sharing">https://drive.google.com/file/d/1NmPFgfVuN_Pqefi2cuKY970aOZBT3f9g/view? usp=sharing</a>
     </p>  
    </div><!--//item-->
  
  
  <!-- project 2 -->
     <div class="item">
     <b>Security Overview of IoT</b>
     <p>
       Term Paper (Applied Cryptography) <br>
       <a href="https://drive.google.com/file/d/ 1GUoTbUPbtMhntwNnWjIvV0kwlhNrGIYZ/view? usp=sharing">https://drive.google.com/file/d/ 1GUoTbUPbtMhntwNnWjIvV0kwlhNrGIYZ/view? usp=sharing</a>
     </p>  
    </div><!--//item-->
    
  
  
  <!-- project 3 -->
     <div class="item">
     <b>Bangla To English Translation Using IBM Model</b>
     <p>
       Term Project (Statistical Machine Translation)<br>
       <a href="https://drive.google.com/drive/folders/ 14bJXKzw8iu8Ifh0fw4DYz6qLxqL2YHv5?usp=sharing
">https://drive.google.com/drive/folders/ 14bJXKzw8iu8Ifh0fw4DYz6qLxqL2YHv5?usp=sharing
</a>
     </p>  
    </div><!--//item-->

  
  <!-- project 4 -->
     <div class="item">
     <b>Election result prediction in WEKA </b>
     <p>
       Term project (Data warehousing and Mining)<br>
       <a href="https://drive.google.com/file/d/1mcx- GxJbdm5rPRFiWs3zZNnwqJc5giLU/view?usp=sharing
">https://drive.google.com/file/d/1mcx- GxJbdm5rPRFiWs3zZNnwqJc5giLU/view?usp=sharing
</a>
     </p>  
    </div><!--//item-->

  


</section><!--//section-->
{% endif %}
