{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.title }}
  </h2>

  

 
 <!-- project 4 -->
     <div class="item">
     <b>Analysis and improvement of Si integrated on-chip dipole antennas using high-k dielectric materials for ultra wideband signal transmission</b>
     <p>
      <br>
      DOI: 10.1109/ICIEV.2014.6850782<br>
      <b>Conference:</b> 2014 International conference on Informatics, Electronics & Vision (ICIEV) <br>
       <a href="https://ieeexplore.ieee.org/document/6850782">https://ieeexplore.ieee.org/document/6850782</a>
     </p>  
    </div><!--//item-->
  

</section><!--//section-->
{% endif %}
