{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="skills-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  
  
 <ul>
  <li>Objective C, Swift <b>(4 Years)</b></li>
  <li>C/ C++ <b>(4 Years)</b></li>
  <li>Java, python <b>(1 Years)</b></li>
  <li>PHP, JavaScript, CSS <b>(6 Month)</b></li>
 </ul>  

</section><!--//skills-section-->
{% endif %}
